.container {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(148, 138, 138);
}

.block {
  width: 150px;
  height: 150px;
  border-top: 10px white solid;
  background: rgb(73, 20, 218);
}

.block2 {
  width: 150px;
  height: 150px;
  border-right: 10px white solid;
  background: rgb(73, 20, 218);
}

.block3 {
  width: 150px;
  height: 150px;
  border-bottom: 10px white solid;
  background: rgb(73, 20, 218);
}

.block4 {
  width: 150px;
  height: 150px;
  border-left: 10px white solid;
  background: rgb(73, 20, 218);
}




/* .block {
  width: 150px;
  height: 150px;
  border: solid white;
  border-width: 4px 0 0 0;
  background: rgb(73, 20, 218);
}
.block:nth-child(2) {
  border-width: 0 4px 0 0;
}
.block:nth-child(3) {
  border-width: 0 0 4px 0;
}
.block:nth-child(4) {
  border-width: 0 0 0 4px;
} */