.bg1 {
  width: 100%;
  height: 200px;
  background: #000 url(nature-3082832__480.jpg) center fixed no-repeat;
}

.bg2 {
  width: 100%;
  height: 200px;
  background: #000 url(pexels-valiphotos-589840.jpg) center fixed no-repeat;
}